* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.logo {
  padding-left: 20px;
}

.head_main_container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  padding-top: 100px;
  padding-bottom: 80px;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: #ff3e6c;
}

.head_text {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin-right: 20px;
}

.shopping_bag {
  width: 200px;
}

.header_text {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}

.main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cards_main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 800px;
  background-color: rgb(255, 0, 85);
}

.ui.cards > .card > .image {
  display: flex;
  height: 130px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background: #fff;
  margin: auto;
}

.ui.grid > .row > img,
.ui.grid > .row > .column > img {
  height: 100%;
}

.ui.cards > .card > .image > img {
  height: 80%;
  max-width: 100%;
  width: auto;
}

.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
}

.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0;
  overflow: hidden;
}

.ui.cards > .card .meta.price {
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #222;
}

.ui.menu.fixed {
  height: 60px;
  padding-top: 15px;
}

.ui.grid.container {
  margin-top: 5px;
}

.ui.grid > .row {
  background: #fff;
}

.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}

.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
}

.ui.placeholder.header:not(:first-child)::before,
.ui.placeholder.image:not(:first-child)::before,
.ui.placeholder.paragraph:not(:first-child)::before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #333;
}

.column.rp p {
  font-size: 18px;
  color: #777;
}

.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #ff3e6c;
  border: 1px solid #ff3e6c;
  color: #fff;
  font-size: 18px;
  margin-left: 0;
}

.back_arrow {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
